@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    75 Coakley St.<br />
    Iselin, NJ 08830-1756<br />
    <abbr title="Phone">P:</abbr>
    412-xxx-xxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:siji_varghese@hotmail.com">siji_varghese@hotmail.com</a><br />
</address>