@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scriptsHead{
    @Scripts.Render(@Url.Content("~/bundles/signalR"))
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/KnotCross-SignalR.js" type="text/javascript"></script>
}
<div id="knotsCrossesGame">

</div>