body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.playerList {
    width: 25em;
    padding-right: 15em;
    border: 1px solid darkcyan;
    background-color: cyan;
    list-style-type: none;
}
.playerList li {
    /*display: grid;*/
    font: 10px Helvetica lavender;
    width: 100%;
}
.playerList li span{
    -webkit-border-radius: 0.8em;
    border-radius: 0.8em;
    padding: 0 .48em;
    background-color: white;
    border-color: darkcyan;
    position: absolute;
    right: 15.2em;
    margin-top: -2.5em;
}
#knotsCrossesGame table {
    width: 300px;
    height: 300px;
    background-color: rgb(116, 226, 222);
}
#knotsCrossesGame table tr:not(:first-child) {
    border-top: 1px solid maroon;
}
#knotsCrossesGame table td:not(:last-child) {
    border-right: 1px solid maroon;
    width: 100px;
    height: 100px;
}